:root {
    --clr-light: rgb(230, 230, 230);
    --clr-dark: rgb(15, 15, 15);
    --clr-accent: #5b82ee;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-dark);
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    color: var(--clr-light);
    text-align: center;
}

.base {
    display: block;
    margin: auto;
    width: 100%;
    height: 1000px;
    background-color: var(--clr-dark);
    background-image: url("dj.jpeg");
    background-size: cover;
}

.player {
    display: block;
    position: relative;
    top: 200px;
    width: 400px;
    height: 600px;
    margin: auto;
    background: transparent linear-gradient(to bottom,rgba(15,15,15,0.9) 50%,rgb(15,15,15) 70%) repeat scroll 0 0;
}