.html {
    background: rgb(15, 15, 15);
}

.body {
    display: block;
    max-width: 800px;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    color: #fff;
    background-color: black;
    text-align: center;
}

.base {
    display: block;
    margin: auto;
    background-image: url("bg-image.jpeg");
    background-size: cover;
}

.player {
    display: block;
    position: relative;
    width: 400px;
    height: 600px;
    margin: auto;
    background: transparent linear-gradient(to bottom,rgba(10,11,31,0.9) 50%,rgb(10,11,31) 70%) repeat scroll 0 0;
}