*:focus {
    outline: none;
}

.html {
    background: rgb(15, 15, 15);
}

.body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    display: block;
    width: 100%;
    height: fit-content;
    margin: auto;
}