{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Norae Music Player</title>
        <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="base">
            <div class="player">

                {% for item in page_obj %}
                <div class="song_cover">
                    <img src="{{item.cover_image.url}}" class="image">
                </div>
                {% endfor %}
                <section class="interface">
                    <ul class="buttons">
                        <li class="btn">
                            <i class="fas fa-step-backward"></i>
                        </li>
                        <li class="btn">
                            <i class="fas fa-play"></i>
                        </li>
                        <li class="btn">
                            <i class="fas fa-step-forward"></i>
                        </li>
                    </ul>
                    
    
                </section>
            </div>
        </div>
    
       
    
                
    </body>
</html>